/* Fonts import start */
@font-face {
    font-family: 'Gilroy-Bold ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold ☞'), url('../fonts/Gilroy-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Heavy ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy ☞'), url('../fonts/Gilroy-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Light ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light ☞'), url('../fonts/Gilroy-Light.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Medium ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium ☞'), url('../fonts/Gilroy-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular ☞'), url('../fonts/Gilroy-Regular.woff') format('woff');
}
/* Fonts import end */

body, ul, h2, h3, p {
    margin: 0;
    padding: 0;
    font: 18px 'Gilroy-Bold ☞';
}

a {
    text-decoration: none;
}

h3 {
    font-size: 34px;
}

p {
    font-family: 'Gilroy-Medium ☞';
}

.wrapper {
    margin: 0 auto;
    max-width: 950px;
}

/* Header styles start */
header {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

/** nav menu styles start **/
nav .container {
    padding: 33px 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid #828282;
}

nav .container li {
    color: #828282;
}

nav .container li.active {
    color: #000;
}
/** nav menu styles end **/

/** header description styles start **/
.header_description {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_description_name {
    font-size: 47px;
}

.header_description_info {
    font-family: 'Gilroy-Medium ☞';
}

.header_description_language {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.header_description_language span {
    color: #828282;
}

.header_description_language span.active,
.header_description_language span.stick {
    color: #000;
}
/** header description styles end **/

.header_menu {
    display: none;
}

/** header img styles **/
.header_img {
    width: 100%;
    height: 400px;
    background: url("../img/header-person.jpeg") center / cover;
}
/* Header styles end */

@media (max-width: 480px) {
    body .mob-wrapper {
        padding: 0 29px;
    }
    header .header_img {
        background-position: bottom;
    }
}
/* For mobile devices */
@media (max-width: 1024px) {
    .mob-wrapper {
        padding: 0 45px;
    }
    nav {
        display: none;
    }
    header .header_img {
        height: 478px;
    }
    /* Inner menu settings start */
    .content {
        display: none;
        width: 100vw;
        min-height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        list-style-type: none;
        overflow: scroll;
        /*
        overflow-y: auto;
        overflow-x: auto;
        */
    }
    .scroll-wrapper {
        overflow: scroll;

    }
    .content li {
        color: #828282;
        font-size: 34px;
        margin: 0 30px 60px 30px;
    }
    .content li.active {
        color: #000;
    }
    .menu-right-panel {
        display: flex;
        justify-content: space-between;
        margin: 70px 29px 0 0;
    }
    .main-myButton:hover {
        cursor: pointer;
    }
    .temp-wrapper {
        padding-right: 29px;
        padding-bottom: 10px;
        position: fixed;
        right: 0;
        bottom: 0;
    }
    .header_menu_description_language {
        writing-mode: vertical-rl;
        width: 100%;
    }
    .header_menu_description_language span {
        font-size: 34px;
        color: #828282;
    }
    .header_menu_description_language span.active,
    .header_menu_description_language span.stick {
        color: #000;
    }
    /* Inner menu settings end */

    /* Outer menu settings start */
    .mob_menu_wrapper {
        padding: 40px 0 20px 0;
        display: flex;
        justify-content: space-between;
    }
    .header_menu {
        display: inline-block;
    }
    .header_description {
        display: block;
    }
    .header_description_language {
        display: none;
    }
    /* Outer menu settings end */

    body .portfolio {
        padding-bottom: 50px;
    }

    body .skills_instruments {
        flex-direction: column;
    }
    body .skills_instruments_block {
        padding-bottom: 80px;
    }
    body .skills_instruments_block:last-child {
        padding-bottom: 0;
    }

    .contacts_button {
        display: inline-block;
        width: calc(100vw - 118px);
    }
    .contacts .contacts_description {
        font-size: 18px;
    }
}

/* About styles start */
/** Common styles for a couple of blocks start **/
.about, .portfolio, .skills, footer {
    padding: 100px 0;
    text-align: center;
}
.about, .portfolio {
    background-color: #f6f6f6;
}
/** Common styles for a couple of blocks end **/

.about_text {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.about_text p {
    padding: 20px 0 20px 0;
}
/* About styles end */

/* Skills styles start */
.skills > p {
    padding: 65px 0 80px 0;
}

.skills_instruments {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills_instruments_block p {
    padding: 20px 0;
    font-size: 14px;
    color: #828282;
}

.skills_instruments_block_stars svg {
        padding-right: 10px;
}

.skills_instruments_block_stars svg:last-child {
        padding-right: 0;
}
/* Skills styles end */

/* Portfolio styles start */
.portfolio_site p {
    padding: 30px 0 50px 0;
    text-decoration: underline;
}

.portfolio_site img {
    padding-top: 45px;
    width: 100%;
    max-width: 950px;
}
/* Portfolio styles end */

/* Contacts styles start */
.contacts p {
    padding: 25px 0 40px 0; 
}

.contacts_button {
    padding: 12px 30px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
}

.contacts_links {
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    max-width: 350px;
    justify-content: space-between;
}

.contacts_description {
    font-size: 14px;
    color: #828282;
}
/* Contacts styles end */
